<section class="alternating-content bg-{{ SP.ACF.get_sub_field('style') }}">
    {% if SP.ACF.get_sub_field('heading') %}
        <div class="row column">
            <h2>{{ SP.ACF.get_sub_field('heading') }}</h2>
        </div>
    {% endif %}

    {% for row in SP.ACF.get_sub_field('rows') %}
        <div class="row" data-equalizer data-equalize-on="large">
            <div class="small-12 medium-6 large-4 {% if loop.index is even %}medium-order-2{% endif %} columns" data-equalizer-watch>
                <div class="content">
                    <img src="{{ row.image.sizes.teaser }}"/>
                    {% if row.video %}
                        <a href="{{ row.video | slice(38, row.video|length - 48) }}" class="fancybox-media"><i class="fa fa-play"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="small-12 medium-6 large-8 {% if loop.index is even %}medium-order-1{% endif %} columns" data-equalizer-watch>
                <div class="content">
                    <h3>{{ row.heading }}</h3>
                    {{ row.content }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if SP.ACF.get_sub_field('has_button') %}
        <div class="row column text-center">
            {% if SP.ACF.get_sub_field('external_url') %}
                <a href="{{ SP.ACF.get_sub_field('button_url') }}" target="_blank" class="large {{ SP.ACF.get_sub_field('button_style') }} button">
                    {{ SP.ACF.get_sub_field('button_text') }}
                </a>
            {% else %}
                <a href="{{ SP.ACF.get_sub_field('page_url') }}" class="large {{ SP.ACF.get_sub_field('button_style') }} button">
                    {{ SP.ACF.get_sub_field('button_text') }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</section>