{% extends 'basic.html.twig' %}
{% set loggedin = true %}
{% block content %}
    {% include "account/basic-info.html.twig" %}
    <section class="two-col-section">
        <div class="background"></div>
        <div class="row" data-equalizer data-equalize-on="medium">
            <div class="medium-4 medium-push-8 large-3 large-push-9 columns sidebar">
                <div data-equalizer-watch>
                    {% if membership %}
                        <h2>Membership</h2>
                        <ul class="no-bullet">
                            <li><span class="term">Plan:</span> <span class="value">{{ membership.membership_name }}</span></li>
                            <li><span class="term">Joined:</span> <span class="value">{{ membership.join_date | date("F jS Y")}}</span></li>
                            <li><span class="term">Expires:</span> <span class="value">{{ membership.end_date | date("F jS Y")}}</span></li>
                            {% if is_head or not household_members %}<li><a href="{{ renew }}">Renew</a></li>{% endif %}
                        </ul>
                    {% else %}
                        <h2>No Membership</h2>
                    {% endif %}
                </div>
            </div>
            <article class="medium-8 medium-pull-4 large-9 large-pull-3 columns content account">
                <div data-equalizer-watch>
                    <h2>Basic Info <small><a href="#basic-form" class="fancybox">Edit</a></small></h2>
                    <div class="row">
                        <div class="large-6 columns">
                            <div class="account-overview profile">
                                {{ SP.WordPress.processShortcode("[basic-user-avatars]") }}
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div class="account-overview">
                                <ul class="contact vertical menu">
                                    <li><h3 class="name">{{ user.first_name }} {{ user.last_name }}</h3></li>
                                    <li><i class="fa fa-user"></i> {{ contact_id }}</li>
                                    {% for phone in user.phone %}
                                        <li>
                                            {% if phone.phone_type_id == 1 %}
                                                <i class="fa fa-phone"></i>
                                            {% elseif phone.phone_type_id == 3 %}
                                                <i class="fa fa-fax"></i>
                                            {% else %}
                                                <i class="fa fa-mobile"></i>
                                            {% endif %}
                                            {{ phone.phone }}
                                        </li>
                                    {% endfor %}
                                    {% for email in user.email %}
                                        <li><i class="fa fa-envelope"></i> {{ email.email }}</li>
                                    {% endfor %}
                                    {% for address in user.address %}
                                        <li>
                                            <i class="fa fw fa-building"></i>
                                            {{ address.street_address }} <br />
                                            {% if address.supplemental_address_1 is defined %}<i class="fa fa-fw"></i> {{ address.supplemental_address_1 }} <br> {% endif %}
                                            {% if address.supplemental_address_2 is defined %}<i class="fa fa-fw"></i> {{ address.supplemental_address_2 }} <br>{% endif %}
                                            <i class="fa fa-fw"></i>
                                            {% if address.city is defined %}{{ address.city }}{% endif %},
                                            {% if address.state_province_id is defined and address.state_province_id %}{{ SP.Civicrm.convert_county_id(address.state_province_id) }}{% endif %}
                                            {% if address.postal_code is defined %}{{ address.postal_code }}{% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>
                        Family Members
                        {% if is_head or not household_members %}
                            <small><a href="#add-form" class="fancybox">Add New</a></small>
                            <div id="add-form">
                                <div class="row column">
                                    <form action="" id="addHousehold" data-abide novalidate>
                                        <div class="row column">
                                            <p>Enter in the email and name of the person you want to add to your family membership</p>
                                        </div>
                                        <div class="row column">
                                            <label for="">
                                                Email:
                                                <input type="email" name="email" required pattern="email">
                                                <span class="form-error">A valid email is required</span>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <label for="">
                                                    First Name:
                                                    <input type="text" name="first_name" required pattern="alpha">
                                                    <span class="form-error">A valid first name is required. Only a-z characters are allowed</span>
                                                </label>
                                            </div>
                                            <div class="small-6 columns">
                                                <label for="">
                                                    Last Name:
                                                    <input type="text" name="last_name" required pattern="alpha">
                                                    <span class="form-error">A valid last name is required. Only a-z characters are allowed</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row column">
                                            <input type="hidden" name="action" value="add_household"/>
                                            <button type="submit" class="primary button">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </h3>
                    {% if not household_members %}
                        <div class="row column">
                            <p>currently you have no family members on your membership</p>
                        </div>
                    {% endif %}
                    <div class="row small-up-1 medium-up-2 large-up-4">
                        {% for member in household_members %}
                            <div class="account-overview column">
                                <img src="web/images/minified/avatar.min.gif" alt="" />
                                <h5 class="name">{{ member.data.display_name }}</h5>
                                <ul class="contact vertical menu">
                                    {% for phone in member.data.phone %}
                                        <li>
                                            {% if phone.phone_type_id == 1 %}
                                                <i class="fa fa-phone"></i>
                                            {% elseif phone.phone_type_id == 3 %}
                                                <i class="fa fa-fax"></i>
                                            {% else %}
                                                <i class="fa fa-mobile"></i>
                                            {% endif %}
                                            {{ phone.phone }}
                                        </li>
                                    {% endfor %}
                                    {% for email in member.data.email %}
                                        <li><i class="fa fa-envelope"></i> {{ email.email }}</li>
                                    {% endfor %}
                                    {% for address in member.data.address %}
                                        <li>
                                            <i class="fa fw fa-building"></i>
                                            {% if address.street_address is defined %}{{ address.street_address }} <br />{% endif %}
                                            {% if address.supplemental_address_1 is defined %}<i class="fa fa-fw"></i> {{ address.supplemental_address_1 }} <br> {% endif %}
                                            {% if address.supplemental_address_2 is defined %}<i class="fa fa-fw"></i> {{ address.supplemental_address_2 }} <br>{% endif %}
                                            <i class="fa fa-fw"></i>
                                            {% if address.city is defined %}{{ address.city }},{% endif %}
                                            {% if address.state_province_id is defined %}{{ SP.Civicrm.convert_county_id(address.state_province_id) }}{% endif %}
                                            {% if address.postal_code is defined %}{{ address.postal_code }}{% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% if is_head or not household_members %}
                                    <ul class="horizontal menu">
                                        <li><a href="#household_delete_{{ loop.index }}" class="alert button fancybox">Delete</a></li>
                                    </ul>
                                    <div class="household-delete" id="household_delete_{{ loop.index }}">
                                        <p>Are you sure you want to remove {{ member.data.display_name }} from your household?</p>
                                        <div class="button-group">
                                            <a class="alert button">Yes</a>
                                            <a href="javascript:jQuery.fancybox.close();" class="dark button">No</a>
                                        </div>
                                        <form action="">
                                            <input type="hidden" name="name" value="{{ member.data.display_name }}">
                                            <input type="hidden" name="id" value="{{ member.relationship_id }}">
                                            <input type="hidden" name="action" value="delete_household"/>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="fancybox-message"></div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}