{% extends 'base.html.twig' %}
{% block content %}
    <section class="main-section">
        <div class="row column">

            {{ SP.ACF.get_field('ride_calandar_content', 'option') }}

            <h1 class="text-center">Rides - {{ month_current }} {{ year_current }}</h1>

            {% block months %}
                <div class="clearfix">
                    <a href="{{ SP.WordPress.site_url(false, 'scheduled_rides') }}?month={{ month_previous }}" class="button float-left">
                        <i class="fa fa-chevron-left"></i> {{ month_previous }}
                    </a>
                    <a href="{{ SP.WordPress.site_url(false, 'scheduled_rides') }}?month={{ month_next }}" class="button float-right">
                        {{ month_next }}
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            {% endblock %}

            <ul class="accordion rides-filter-container" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title"><i class="fa fa-search"></i> Search</a>
                    <div class="accordion-content" data-tab-content>
                        <form>
                            <input type="hidden" name="month" value="{{ args.month }}">
                            <div class="rides-filter">
                                <div class="row">
                                    <div class="medium-12 columns">
                                        <label>Term
                                            <input type="text" name="s" value="{{ args.s }}"/>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-4 columns">
                                        <label>Terrain
                                            <select name="terrain">
                                                <option value="0" {% if not args.terrain %}selected{% endif %}>Any</option>
                                                <option value="a" {% if args.terrain == 'a' %}selected{% endif %}>Flat</option>
                                                <option value="b" {% if args.terrain == 'b' %}selected{% endif %}>Mostly Flat</option>
                                                <option value="c" {% if args.terrain == 'c' %}selected{% endif %}>Small hills</option>
                                                <option value="d" {% if args.terrain == 'd' %}selected{% endif %}>Large hills</option>
                                                <option value="e" {% if args.terrain == 'e' %}selected{% endif %}>Mountainous</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="medium-4 columns">
                                        <label>Speed
                                            <select name="speed">
                                                <option value="0" {% if not args.speed %}selected{% endif %}>Any</option>
                                                <option value="slow" {% if args.speed == 'slow' %}selected{% endif %}>10-13 mph</option>
                                                <option value="leisurely" {% if args.speed == 'leisurely' %}selected{% endif %}>13-15 mph</option>
                                                <option value="moderate" {% if args.speed == 'moderate' %}selected{% endif %}>15-17 mph</option>
                                                <option value="fast" {% if args.speed == 'fast' %}selected{% endif %}>&gt; 18 mph</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="medium-4 columns">
                                        <label>Length
                                            <select name="length">
                                                <option value="0" {% if not args.length %}selected{% endif %}>Any</option>
                                                <option value="1" {% if args.length == '1' %}selected{% endif %}>&lt; 2 miles</option>
                                                <option value="2" {% if args.length == '2' %}selected{% endif %}>2-5 miles</option>
                                                <option value="3" {% if args.length == '3' %}selected{% endif %}>5-10 miles</option>
                                                <option value="4" {% if args.length == '4' %}selected{% endif %}>&gt; 10 miles</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="row column">
                                    <input type="Submit" class="accent button" value="Apply">
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>

            {% if month_current_numeric == 'now'|date('n') %}
                <a href="#" class="dark button hide-for-medium toggle-previous-days">Show Hidden Days</a>
            {% endif %}
            <div class="rides-calendar {% if month_current_numeric < 'now'|date('n') %}previous{% endif %}">
                {% for week in calendar|batch(7, false) %}
                    <div class="week header">
                        {% for day in week %}
                            <div class="day
                                {% if day.current %}
                                    current
                                {% elseif day.previous %}
                                    previous
                                {% elseif day.next %}
                                    future
                                {% elseif day.weekend %}
                                    weekend
                                {% endif %}"
                            >
                                <div class="date">{{ day.date|date('j') }} <span class="day-of-week">{{ day.date|date('D') }}</span></div>
                                <ul class="vertical menu">
                                    {% for event in day.events %}
                                        <li>
                                            <div class="time">{{ event.date | date('g:i') }}<sup>{{ event.date | date('a') }}</sup></div>
                                            <a href="{{ event.link }}">{{ event.title }}</a>
                                        </li>
                                    {% else %}
                                        <li></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {{ block("months") }}
        </div>
    </section>
{% endblock %}