<html class="no-js">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        {% block title %}<title>{{ SP.WordPress.title() }}</title>{% endblock %}
    {% endblock %}

    {% block stylesheets %}
        {{ SP.WordPress.header() }}
    {% endblock %}

    <link rel="icon" type="image/png" sizes="32x32" href="{{ SP.WordPress.templateURI() }}/favicon.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#BA383B">
    <meta name="theme-color" content="#BA383B">
</head>
<body {{ SP.WordPress.classes()}}>
{% block body %}
    {% block header %}
        {% include "layout/header.html.twig" %}
    {% endblock %}

    {% block content %}
        <section class="content">
            <div class="row column">
                <h1>{{ SP.WordPress.title() }}</h1>
                {{ SP.WordPress.content() }}
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        {% include "layout/footer.html.twig" %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ SP.WordPress.footer() }}
{% endblock %}
</body>
</html>
