<nav aria-label="Pagination">
    {% spaceless %}
        <ul class="pagination text-center">
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li><a href="{{page.link}}" aria-label="Page {{ page.title }}">{{page.title}}</a></li>
                {% elseif page.title matches '/^\\d+$/' %}
                    <li class="current"><span class="show-for-sr">You're on page</span> {{ page.title }}</li>
                {% else %}
                    <li>{{ page.title }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endspaceless %}
</nav>
