<div class="podcast-teaser" data-equalizer-watch>
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
            <h3 class="text-center"><a href="{{ post.link }}" title="{{ post.post_title }}">{{ post.post_title }}</a></h3>
            <div class="date text-center">{{ post.date }}</div>
            <div class="excerpt">
                {{ post.content  }}
            </div>
        </div>
    </div>
</div>