<section class="alternating-content bg-{{ SP.ACF.get_sub_field('style') }}">
    {% if SP.ACF.get_sub_field('heading') %}
        <div class="row column">
            <h2>{{ SP.ACF.get_sub_field('heading') }}</h2>
        </div>
    {% endif %}

    {% for row in SP.ACF.get_sub_field('rows') %}
        <div class="row" data-equalizer data-equalize-on="large">
            <div class="medium-6 large-4 {% if loop.index is even %}medium-push-6 large-push-8{% endif %} columns" data-equalizer-watch>
                <img src="{{ row.image.url }}"/>
            </div>
            <div class="medium-6 large-8 {% if loop.index is even %}medium-pull-6 large-pull-4{% endif %} columns" data-equalizer-watch>
                <div class="content">
                    <h3>{{ row.heading }}</h3>
                    {{ row.content }}
                </div>
            </div>
        </div>
    {% endfor %}
    {% if SP.ACF.get_sub_field('has_button') %}
        <div class="row column text-center">
            {% if SP.ACF.get_sub_field('external_url') %}
                <a href="{{ SP.ACF.get_sub_field('button_url') }}" target="_blank" class="large {{ SP.ACF.get_sub_field('button_style') }} button">
                    {{ SP.ACF.get_sub_field('button_text') }}
                </a>
            {% else %}
                <a href="{{ SP.ACF.get_sub_field('page_url') }}" class="large {{ SP.ACF.get_sub_field('button_style') }} button">
                    {{ SP.ACF.get_sub_field('button_text') }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</section>