{% for leader in leaders %}
    <div class="leader">
        {{ SP.WordPress.getAvatar(128, leader.ID) }}
        <h5 class="name">{{ SP.WordPress.getUserMeta(leader.ID, 'first_name', true) }} {{ SP.WordPress.getUserMeta(leader.ID, 'last_name', true) }}</h5>
        <ul class="contact vertical menu">
            <li><a href="mailto:{{ leader.user_email }}"><i class="fa fa-envelope"></i>{{ leader.user_email }}</a></li>
            {% if SP.ACF.get_field('home_phone', 'user_'~leader.ID) %}
                <li><a href="sms:{{ SP.ACF.get_field('home_phone', 'user_'~leader.ID) }}"><i class="fa fa-mobile"></i> {{ SP.ACF.get_field('home_phone', 'user_'~leader.ID) }}</a></li>
            {% endif %}
            {% if SP.ACF.get_field('cell_phone', 'user_'~leader.ID) %}
                <li><a href="tel:{{ SP.ACF.get_field('cell_phone', 'user_'~leader.ID) }}"><i class="fa fa-phone"></i> {{ SP.ACF.get_field('cell_phone', 'user_'~leader.ID) }}</a></li>
            {% endif %}
        </ul>
    </div>
{% else %}
    <div class="text-center missing">No one is currently assigned.</div>
{% endfor %}