<a href="{{ post.link }}" {% if not image %}class="icon"{% endif %}>
    {% if post.thumbnail %}
        <img src="{{ post.thumbnail.src|resize(280, 280) }}"
            srcset="{{ post.thumbnail.src|resize(280, 280)|retina(1) }} 1x,
            {{ post.thumbnail.src|resize(280, 280)|retina(2) }}  2x,
            {{ post.thumbnail.src|resize(280, 280)|retina(3) }}  3x,
            {{ post.thumbnail.src|resize(280, 280)|retina(4) }}  4x"
             alt="{{ post.thumbnail.alt }}"
        >
    {% elseif post.get_field('format') == "news" %}
        <i class="fa fa-newspaper-o"></i>
    {% elseif post.get_field('format') == "meeting" %}
        <i class="fa fa-clipboard"></i>
    {% elseif post.get_field('format') == "gallery" %}
        <i class="fa fa-picture-o"></i>
    {% else %}
        <i class="fa fa-file-text"></i>
    {% endif %}
</a>
<h5><a href="{{ post.link }}">{{ post.title }}</a></h5>
<p>{{ post.preview }}</p>
