{% extends 'base.html.twig' %}
{% block content %}
    <section class="two-col-section">
        <div class="background"></div>
        <div class="row" data-equalizer data-equalize-on="medium">
            <article class="small-12 medium-8 large-9 columns content ride" data-equalizer-watch>
                <h1>{{ post.title() }}</h1>
                {% if not is_published %}
                    <div class="callout alert">WARNING: This ride template is NOT published!
                    {% if is_pending %}
                    It is awaiting review by a road captain.
                    {% endif %}
                    </div>
                {% endif %}
                <div class="row column description">
                    {% include 'partials/ride-description.html.twig' with {description: description} only %}
                </div>
                <div class="row column details">
                    <h4>Details</h4>
                    <div class="row small-up-1 medium-up-2 large-up-3 details">
                        <div class="column">
                            {% include 'partials/ride-type.html.twig' with {type: post.get_field('type')} only %}
                        </div>
                        <div class="column">
                            {% include 'partials/ride-pace.html.twig' with {pace: post.get_field('pace')} only %}
                        </div>
                        <div class="column">
                            {% include 'partials/ride-length.html.twig' with {length: length, max_length: max_length} only %}
                        </div>
                        <div class="column">
                            {% include 'partials/ride-terrain.html.twig' with {terrains: terrain} only %}
                        </div>
                    </div>
                </div>
                <div class="maps">
                    {% include 'partials/ride-maps.html.twig' with {maps: maps, type: post.get_field('type')} only %}
                </div>
                <div class="row column location">
                    <h4>Start Location </h4>
                    <div>
                        <p>{{ post.get_field('start_location').address|escape }}
                        <a href="https://www.google.com/maps/search/?api=1&amp;query={{ post.get_field('start_location').lat }},{{ post.get_field('start_location').lng }}" target="_blank"><i class="fa fa-map-marker"></i> Google Maps</a>
                        <br><em>{{ post.get_field('start_location_comment')|escape }}</em></p>
                    </div>
                    <div class="google-maps">
                        <div class="acf-map">
                            <div class="marker" data-lat="{{ post.get_field('start_location').lat }}" data-lng="{{ post.get_field('start_location').lng }}"></div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="small-12 medium-4 large-3 columns sidebar" data-equalizer-watch="">
                <h3 class="text-center">Ride Leaders</h3>
                {% include 'partials/ride-leaders.html.twig' with {leaders: post.get_field('ride_leaders')} only %}
            </div>
        </div>
    </section>
{% endblock %}
