{% extends 'base.html.twig' %}
{% block content %}
    <section class="two-col-section">
        <div class="background"></div>
        <div class="row" data-equalizer data-equalize-on="medium">
            <article class="small-12 medium-8 large-9 columns content ride" data-equalizer-watch>
                <h1 class="{% if post.get_field('is_canceled') %}canceled{% endif %}">{{ post.title() }}</h1>
                {% if post.get_field('is_canceled') %}
                    <h3>This ride has been canceled!</h3>
                {% elseif ride_signup_msg %}
                    <div class="callout warning">{{ ride_signup_msg }} 
                    {% if ride_signup_url %}
                        <br><a href="{{ ride_signup_url }}" class="dark button"><i class="fa fa-user-plus"></i> Signup</a>
                    {% endif %}
                    </div>
                {% endif %}
                <div class="row column description">
                    {% include 'partials/ride-description.html.twig' with {description: description} only %}
                </div>
                <div class="row column details">
                    <h4>Details</h4>
                    <div class="row small-up-1 medium-up-2 large-up-3 details">
                        <div class="column">
                            {% include 'partials/ride-date.html.twig' with {date: post.get_field('date')} only %}
                        </div>
                        <div class="column">
                            {% include 'partials/ride-time.html.twig' with {date: post.get_field('date')} only %}
                        </div>
                        <div class="column">
                            {% include 'partials/ride-type.html.twig' with {type: post.get_field('type')} only %}
                        </div>
                        <div class="column">
                            {% include 'partials/ride-pace.html.twig' with {pace: post.get_field('pace')} only %}
                        </div>
                        <div class="column">
                            {% include 'partials/ride-length.html.twig' with {length: length, max_length: max_length} only %}
                        </div>
                        <div class="column">
                            {% include 'partials/ride-terrain.html.twig' with {terrains: terrain} only %}
                        </div>
                    </div>
                </div>
                <div class="maps">
                    {% include 'partials/ride-maps.html.twig' with {maps: maps, type: post.get_field('type')} only %}
                </div>
                <div class="row column location">
                    <h4>Start Location </h4>
                    <div>
                        <p>{{ post.get_field('start_location').address }}</p>
                    </div>
                    <div class="google-maps">
                        <div class="acf-map">
                            <div class="marker" data-lat="{{ post.get_field('start_location').lat }}" data-lng="{{ post.get_field('start_location').lng }}"></div>
                        </div>
                    </div>
                </div>
                <div>
                    {% include 'partials/ride-calendarlink.html.twig' with {date: post.get_field('date')} only %}
                    <a href="{{ current_url }}?feed=ical-ride" class="dark button"><i class="fa fa-download"></i> Add to Calendar</a>
                    {% if user_can_cancel %}
                        {% if view_signup_url %}
                            <a href="{{ view_signup_url }}" class="dark button"><i class="fa fa-users"></i> View Signups</a>
                        {% endif %}
                        {% if edit_ride_url %}
                            <a href="{{ edit_ride_url }}" class="dark button"><i class="fa fa-pencil-square-o"></i> Edit Ride</a>
                        {% endif %}
                        {% if post.get_field('is_canceled') %}
                            <a href="{{ current_url }}?canceled=0" class="success button"><i class="far fa-calendar-check"></i> Allow Ride</a>
                        {% else %}
                            <a href="{{ current_url }}?canceled=1" class="alert button"><i class="far fa-calendar-times"></i> Cancel Ride</a>
                        {% endif %}
                    {% endif %}
                </div>
            </article>
            <div class="small-12 medium-4 large-3 columns sidebar" data-equalizer-watch="">
                <h3 class="text-center">Ride Leaders</h3>
                {% include 'partials/ride-leaders.html.twig' with {leaders: post.get_field('ride_leaders')} only %}
            </div>
        </div>
    </section>
{% endblock %}
