<a href="{{ link }}" {% if not image %}class="icon"{% endif %}>
    {% if image %}
        {{ image }}
    {% elseif format == "news" %}
        <i class="fa fa-newspaper-o"></i>
    {% elseif format == "meeting" %}
        <i class="fa fa-clipboard"></i>
    {% elseif format == "gallery" %}
        <i class="fa fa-picture-o"></i>
    {% else %}
        <i class="fa fa-file-text"></i>
    {% endif %}
</a>
<h5><a href="{{ link }}">{{ title }}</a></h5>
<p>{{ excerpt }}</p>