<div id="basic-form" class="">
    <div class="row column"><h3>Basic Info</h3></div>
    <form action="" id="basicInfo" data-abide novalidate>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label for="">Profile</label>
                {{ SP.WordPress.getAvatar(200) }}
            </div>
            <div class="small-12 medium-6 large-8 columns">
                <label for="">
                    First Name
                    <input name="first" type="text" value="{{ user.first_name }}" required pattern="alpha">
                    <span class="form-error">A valid first name is required. Only a-z characters are allowed</span>
                </label>
                <label for="">
                    Last Name
                    <input name="last" type="text" value="{{ user.last_name }}" required pattern="alpha">
                    <span class="form-error">A valid last name is required. Only a-z characters are allowed</span>
                </label>
                {% for email in user.email %}
                    {% if loop.first %}
                        <div class="row">
                            <div class="small-6 columns">
                                <label for="">
                                    Email
                                    <input name="email" type="text" value="{{ email.email }}" required pattern="email">
                                    <span class="form-error">A valid email is required.</span>
                                </label>
                            </div>
                            <div class="small-6 columns">
                                <label for="">Location
                                    <select name="email_location" id="" required>
                                        <option value="5" {% if email.location_type_id == 5 %}selected="selected"{% endif %}>Billing</option>
                                        <option value="1" {% if email.location_type_id == 1 %}selected="selected"{% endif %}>Home</option>
                                        <option value="3" {% if email.location_type_id == 3 %}selected="selected"{% endif %}>Main</option>
                                        <option value="4" {% if email.location_type_id == 4 %}selected="selected"{% endif %}>Other</option>
                                        <option value="2" {% if email.location_type_id == 2 %}selected="selected"{% endif %}>Work</option>
                                    </select>
                                </label>
                                <input name="email_id" type="hidden" value="{{ email.id }}">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row column"><h3>Phone Numbers</h3></div>
        {% for phone in user.phone %}
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <label for="">Phone <input type="text" name="phone[]" value="{{ phone.phone }}"></label>
                </div>
                <div class="small-6 medium-3 columns">
                    <label for="">Location
                        <select name="phone_location[]" id="">
                            <option value="5" {% if phone.location_type_id == 5 %}selected="selected"{% endif %}>Billing</option>
                            <option value="1" {% if phone.location_type_id == 1 %}selected="selected"{% endif %}>Home</option>
                            <option value="3" {% if phone.location_type_id == 3 %}selected="selected"{% endif %}>Main</option>
                            <option value="4" {% if phone.location_type_id == 4 %}selected="selected"{% endif %}>Other</option>
                            <option value="2" {% if phone.location_type_id == 2 %}selected="selected"{% endif %}>Work</option>
                        </select>
                    </label>
                </div>
                <div class="small-6 medium-3 columns">
                    <label for="">Type
                        <select name="phone_type[]" id="">
                            <option value="1" {% if phone.phone_type_id == 1 %}selected="selected"{% endif %}>Phone</option>
                            <option value="2" {% if phone.phone_type_id == 2 %}selected="selected"{% endif %}>Mobile</option>
                            <option value="3" {% if phone.phone_type_id == 3 %}selected="selected"{% endif %}>Fax</option>
                            <option value="4" {% if phone.phone_type_id == 4 %}selected="selected"{% endif %}>Pager</option>
                            <option value="5" {% if phone.phone_type_id == 5 %}selected="selected"{% endif %}>Voicemail</option>
                        </select>
                    </label>
                </div>
                <div class="small-12 medium-2 columns">
                    <label for="">
                        Primary
                    </label>
                    <div class="switch large">
                        <input
                                class="switch-input"
                                id="phome_primary_{{ loop.index }}"
                                type="radio"
                                name="phone_primary"
                                value="{{ phone.id }}"
                                {% if phone.is_primary is defined and phone.is_primary %}checked="checked"{% endif %}
                        />
                        <label class="switch-paddle" for="phome_primary_{{ loop.index }}">
                            <span class="show-for-sr">primary</span>
                        </label>
                    </div>
                </div>
                <div class="small-12 columns">
                    <input type="hidden" name="phone_id[]" value="{{ phone.id }}">
                    <!--<a href="" class="tiny alert button"><i class="fa fa-minus"></i> Remove</a>-->
                </div>
            </div>
        {% endfor %}
        <!--
        <div class="row">
            <div class="small-12 columns">
                <a href="" class="tiny success button"><i class="fa fa-plus"></i> Add Another</a>
            </div>
        </div>
        --->
        <div class="row column"><h3>Addresses</h3></div>
        {% for address in user.address %}
            <div class="row">
                <div class="small-6 columns">
                    <label for="">Type
                        <select name="address_type[]" id="">
                            <option value="5" {% if address.location_type_id == 5 %}selected="selected"{% endif %}>Billing</option>
                            <option value="1" {% if address.location_type_id == 1 %}selected="selected"{% endif %}>Home</option>
                            <option value="3" {% if address.location_type_id == 3 %}selected="selected"{% endif %}>Main</option>
                            <option value="4" {% if address.location_type_id == 4 %}selected="selected"{% endif %}>Other</option>
                            <option value="2" {% if address.location_type_id == 2 %}selected="selected"{% endif %}>Work</option>
                        </select>
                    </label>
                </div>
                <div class="small-6 columns">
                    <label for="">
                        Primary
                    </label>
                    <div class="switch large">
                        <input
                                class="switch-input"
                                id="address_primary_{{ loop.index }}"
                                type="radio"
                                name="address_primary"
                                value="{{ address.id }}"
                                {% if address.is_primary is defined and address.is_primary %}checked="checked"{% endif %}
                        />
                        <label class="switch-paddle" for="address_primary_{{ loop.index }}">
                            <span class="show-for-sr">primary</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label for="">Address <input type="text" name="address_1[]" value="{{ address.street_address }}"></label>
                </div>
                <div class="small-12 medium-6 columns">
                    <label for="">Unit <input type="text"  name="address_2[]" value="{% if address.supplemental_address_1 is defined %}{{ address.supplemental_address_1 }}{% endif %}"></label>
                </div>
            </div>
            <div class="row">
                <div class="small-6 large-4 columns">
                    <label for="">City
                        <input type="text" name="address_city[]" value="{{ address.city }}" />
                    </label>
                </div>
                <div class="small-6 large-4 columns">
                    <label for="">State
                        <select name="address_state[]" id="">
                            <option value="Alabama" {% if address.state_province_id == 1000 %}selected="selected"{% endif %}>Alabama</option>
                            <option value="Alaska" {% if address.state_province_id == 1001 %}selected="selected"{% endif %}>Alaska</option>
                            <option value="Arizona" {% if address.state_province_id == 1002 %}selected="selected"{% endif %}>Arizona</option>
                            <option value="Arkansas" {% if address.state_province_id == 1003 %}selected="selected"{% endif %}>Arkansas</option>
                            <option value="California" {% if address.state_province_id == 1004 %}selected="selected"{% endif %}>California</option>
                            <option value="Colorado" {% if address.state_province_id == 1005 %}selected="selected"{% endif %}>Colorado</option>
                            <option value="Connecticut" {% if address.state_province_id == 1006 %}selected="selected"{% endif %}>Connecticut</option>
                            <option value="Delaware" {% if address.state_province_id == 1007 %}selected="selected"{% endif %}>Delaware</option>
                            <option value="Florida" {% if address.state_province_id == 1008 %}selected="selected"{% endif %}>Florida</option>
                            <option value="Georgia" {% if address.state_province_id == 1009 %}selected="selected"{% endif %}>Georgia</option>
                            <option value="Hawaii" {% if address.state_province_id == 1010 %}selected="selected"{% endif %}>Hawaii</option>
                            <option value="Idaho" {% if address.state_province_id == 1011 %}selected="selected"{% endif %}>Idaho</option>
                            <option value="Illinois" {% if address.state_province_id == 1012 %}selected="selected"{% endif %}>Illinois</option>
                            <option value="Indiana" {% if address.state_province_id == 1013 %}selected="selected"{% endif %}>Indiana</option>
                            <option value="Iowa" {% if address.state_province_id == 1014 %}selected="selected"{% endif %}>Iowa</option>
                            <option value="Kansas" {% if address.state_province_id == 1015 %}selected="selected"{% endif %}>Kansas</option>
                            <option value="Kentucky" {% if address.state_province_id == 1016 %}selected="selected"{% endif %}>Kentucky</option>
                            <option value="Louisiana" {% if address.state_province_id == 1017 %}selected="selected"{% endif %}>Louisiana</option>
                            <option value="Maine" {% if address.state_province_id == 1018 %}selected="selected"{% endif %}>Maine</option>
                            <option value="Maryland" {% if address.state_province_id == 1019 %}selected="selected"{% endif %}>Maryland</option>
                            <option value="Massachusetts" {% if address.state_province_id == 1020 %}selected="selected"{% endif %}>Massachusetts</option>
                            <option value="Michigan" {% if address.state_province_id == 1021 %}selected="selected"{% endif %}>Michigan</option>
                            <option value="Minnesota" {% if address.state_province_id == 1022 %}selected="selected"{% endif %}>Minnesota</option>
                            <option value="Mississippi" {% if address.state_province_id == 1023 %}selected="selected"{% endif %}>Mississippi</option>
                            <option value="Missouri" {% if address.state_province_id == 1024 %}selected="selected"{% endif %}>Missouri</option>
                            <option value="Montana" {% if address.state_province_id == 1025 %}selected="selected"{% endif %}>Montana</option>
                            <option value="Nebraska" {% if address.state_province_id == 1026 %}selected="selected"{% endif %}>Nebraska</option>
                            <option value="Nevada" {% if address.state_province_id == 1027 %}selected="selected"{% endif %}>Nevada</option>
                            <option value="New Hampshire" {% if address.state_province_id == 1028 %}selected="selected"{% endif %}>New Hampshire</option>
                            <option value="New Jersey" {% if address.state_province_id == 1029 %}selected="selected"{% endif %}>New Jersey</option>
                            <option value="ew Mexico" {% if address.state_province_id == 1030 %}selected="selected"{% endif %}>New Mexico</option>
                            <option value="New York" {% if address.state_province_id == 1031 %}selected="selected"{% endif %}>New York</option>
                            <option value="North Carolina" {% if address.state_province_id == 1032 %}selected="selected"{% endif %}>North Carolina</option>
                            <option value="North Dakota" {% if address.state_province_id == 1033 %}selected="selected"{% endif %}>North Dakota</option>
                            <option value="Ohio" {% if address.state_province_id == 1034 %}selected="selected"{% endif %}>Ohio</option>
                            <option value="Oklahoma" {% if address.state_province_id == 1035 %}selected="selected"{% endif %}>Oklahoma</option>
                            <option value="Oregon" {% if address.state_province_id == 1036 %}selected="selected"{% endif %}>Oregon</option>
                            <option value="Pennsylvania" {% if address.state_province_id == 1037 %}selected="selected"{% endif %}>Pennsylvania</option>
                            <option value="Rhode Island" {% if address.state_province_id == 1038 %}selected="selected"{% endif %}>Rhode Island</option>
                            <option value="South Carolina" {% if address.state_province_id == 1039 %}selected="selected"{% endif %}>South Carolina</option>
                            <option value="South Dakota" {% if address.state_province_id == 1040 %}selected="selected"{% endif %}>South Dakota</option>
                            <option value="Tennessee" {% if address.state_province_id == 1041 %}selected="selected"{% endif %}>Tennessee</option>
                            <option value="Texas" {% if address.state_province_id == 1042 %}selected="selected"{% endif %}>Texas</option>
                            <option value="Utah" {% if address.state_province_id == 1043 %}selected="selected"{% endif %}>Utah</option>
                            <option value="Vermont" {% if address.state_province_id == 1044 %}selected="selected"{% endif %}>Vermont</option>
                            <option value="Virginia" {% if address.state_province_id == 1045 %}selected="selected"{% endif %}>Virginia</option>
                            <option value="Washington" {% if address.state_province_id == 1046 %}selected="selected"{% endif %}>Washington</option>
                            <option value="West Virginia" {% if address.state_province_id == 1047 %}selected="selected"{% endif %}>West Virginia</option>
                            <option value="Wisconsin" {% if address.state_province_id == 1048 %}selected="selected"{% endif %}>Wisconsin</option>
                            <option value="Wyoming" {% if address.state_province_id == 1049 %}selected="selected"{% endif %}>Wyoming</option>
                        </select>
                    </label>
                </div>
                <div class="small-6 large-4 columns">
                    <label for="">Zip <input type="text" name="address_zip[]" value="{{ address.postal_code }}"></label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <input type="hidden" name="address_id[]" value="{{ address.id }}">
                    <!--<a href="" class="tiny alert button"><i class="fa fa-minus"></i> Remove</a>-->
                </div>
            </div>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
        <div class="row column">
            <input type="hidden" name="action" value="basic_info"/>
            <input type="hidden" name="contact_id" value="{{ contact_id }}"/>
            <button type="submit" class="primary button">Submit</button>
        </div>
    </form>
</div>