<nav class="social">
    {% if facebook %}
        <a href="{{ facebook }}" target="_blank" style="color:#3b5998">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-facebook-f fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if twitter %}
        <a href="{{ twitter }}" target="_blank" style="color:#1da1f2">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-twitter fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if google_plus %}
        <a href="{{ google_plus }}" target="_blank" style="color:#db4437">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-google-plus-g fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if youtube %}
        <a href="{{ youtube }}" target="_blank" style="color:#ff0000">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-youtube fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if instagram %}
        <a href="{{ instagram }}" target="_blank" style="color:#c32aa3">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-instagram fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if linkedin %}
        <a href="{{ linkedin }}" target="_blank" style="color:#007bb5">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-linkedin-in fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if pinterest %}
        <a href="{{ pinterest }}" target="_blank" style="color:#bd081c">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-pinterest-p fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if snapchat %}
        <a href="{{ snapchat }}" target="_blank" style="color:#fffc00">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-snapchat-ghost fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if myspace %}
        <a href="{{ myspace }}" target="_blank" style="color:#1da1f2">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fas fa-users fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if yelp %}
        <a href="{{ yelp }}" target="_blank" style="color:#d32323">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fab fa-yelp fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if info %}
        <a href="{{ info }}" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fas fa-info fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
    {% if rss %}
        <a href="/index.php/feed/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" data-fa-transform="shrink-2"></i>
                                <i class="fas fa-rss fa-stack-2x fa-inverse" data-fa-transform="shrink-8"></i>
                            </span>
        </a>
    {% endif %}
</nav>