<footer class="footer">
    <div class="row">
        <div class="small-12 medium-6 large-8 columns">
            <ul class="vertical medium-horizontal menu">
                {% for item in footer_menu.items %}
                    <li class="{{ item.classes|join(' ') }}">
                        <a href="{{ item.link }}" target="{{ link.is_external ? '_blank' : '_self' }}">{{ item.title }}</a>
                        {% if item.children %}
                            <ul class="menu">
                                {% for child in item.children %}
                                    <li class="{{ child.classes|join(' ') }}">
                                        <a href="{{ child.link }}" target="{{ child.is_external ? '_blank' : '_self' }}">{{ child.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <hr />
            <ul class="no-bullet">
                <li>
                    <i class="fa fa-building"></i>
                    {{ options.address }}
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:{{ options.email }}">
                        {{ options.email }}
                    </a>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:{{ options.phone }}">
                        {{ options.phone }}
                    </a>
                </li>
                <li>
                    <ul class="menu">
                        <li><a href="{{ options.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="{{ options.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="small-12 medium-6 large-4 columns">
            {% filter shortcodes %}
                [gravityform id=1 title=false description=false ajax=true tabindex=49]
            {% endfilter %}
        </div>
    </div>
</footer>
